@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SBAB';
  src: url('../assets/fonts/SBAB-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SBAB';
  src: url('../assets/fonts/SBAB-Display.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SBAB';
  src: url('../assets/fonts/SBAB-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SBAB';
  src: url('../assets/fonts/SBAB-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
